*{
    box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



html{
    scroll-behavior:smooth;
}
body{
    margin:0px;
  
background: linear-gradient(
    135deg,
    #0B1120,
    #111827,
    #172554
);
    font-family: 'Montserrat', sans-serif;


}
#navbar{
    display:flex;

    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:10px;
    position:sticky;
    top:0;
    z-index:1000;
    background: rgba(5,2,20,0.7);
    backdrop-filter: blur(10px);
    color:white;
}
#navbar span{
    border-right:2px solid white;
    padding-right:10px;
}
.clock-container{
    padding:10px;
    font-family:monospace;
    font-size:14px;
    font-weight:bold;
}
.links{
    display:flex;
    gap:30px;
    align-items:center;
    list-style:none;
    flex-wrap:wrap;
    padding:0px;
    margin:0px;
}
.links a{
    color:white;
    text-decoration:none;
    transition:color 0.5s;
}
.links a:hover{
    color:rgb(16, 197, 197);
}
#Hero-section{
    position:relative;
    padding:80px 40px;
}
.hero-background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to bottom,rgba(0,0,50,0.6) 80%, rgba(0,0,50,1)100%), 
    url('ASSETS/Copilot_20260521_175159.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    backdrop-filter:blur(12px);
    opacity:0;
    border-radius:0;
    z-index:0;
    animation:fadein 2s ease forwards;
    box-shadow:0px 0px 12px 1px rgb(8, 192, 238);
}
@keyframes fadein{
    to{opacity:1;}
}

.content{
    position:relative;
    z-index:1;
    color:white;
    font-size:20px;
}
.content span{
    color:rgba(62, 135, 251, 0.992);
}
.content button{
    padding:8px;
    background-color:transparent;
    border:1px solid black;
}
.About-Wrapper{
    display:flex;
}
#About{
    text-align:center;
    color:rgba(62, 135, 251, 0.992);

}
.text{
    flex-wrap:wrap;
    display:block;
    text-align:left;
}
.text p{
    width:100%;
    max-width:400px;
}

.About-content{
    display:flex;
    justify-content:space-between;
    color:rgb(16, 11, 11);
    text-align:center;
    padding:50px;
    color:white;
}
.Stats{
    border:1px solid rgba(3, 180, 220, 0.822);
    padding:20px;
    border-radius:10px;
    display:flex;
    gap:70px;
    justify-content:center;
    flex-wrap:wrap;
    margin:20px;
}
.stat{
     border:none;
     padding:20px;
     border-radius:100px;
     background:hsla(225, 98%, 52%, 10%);
     color:aliceblue;
     font-size:small;
}

.stat h3{
    font-size:2em;
    margin:0;
    
}
#About span{
    color:rgb(229, 239, 239);
}
#Tools-wrapper{
        justify-content:center;
        align-items:center;    
        border:1px solid hsla(225, 98%, 52%, 0.305); 
        border-radius:10px;
}
.Tools{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.langs{
    display:flex;
    gap:20px;
}
#Projects{
    padding:50px;
    color:rgba(62, 135, 251, 0.992);
}
#Projects h2{
    text-align:center;
}

#Projects span{
    color:rgb(229, 239, 239);
}
#Projects a{
    text-align:center;
}
.Advanced-Projects span{
    color:white;
}
.Projects-container{
    display:grid;
    grid-template-columns:repeat(3, minmax(200px ,300px));
    gap:30px;
    justify-content:center;
}

.card{
    width:100%;
    max-width:300px;
    height:200px;
    overflow:hidden;
    position:relative;
    transition:transform 0.5s;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius:7px;

}
.badge{
    position:absolute;
    top:5px;
    left:5px;
    background:rgba(255, 255, 255, 0.63);
    backdrop-filter:blur(12px);
    font-weight:bold;
    border-radius:20px;
    padding:0px 30px;
    font-size:12px;
    color:black;
}
.card:hover{
    transform:translateY(-7px);
    border-color:aquamarine;
    
}
.card img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.card a{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:15px;
    color:white;
    text-decoration: none;
}
.card a:hover{
    color:rgb(0, 194, 228);
}
.Advanced{
    text-align:center;
    color:rgba(62, 135, 251, 0.992);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}
.Advanced span{
    color:aliceblue;
}
.A-Projects{
    display:grid;
    grid-template-columns:repeat(3,minmax(200px,300px));
    gap:30px;
    overflow:hidden;
    padding:10px;

}

#Services{
    padding:50px;
    text-align:center;
    color:rgba(62, 135, 251, 0.992);
}
.service-container{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;

}
.S-card{
    width:100%;
    max-width:350px;
    height:200px;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    border-radius:7px;
    padding:20px;
    transition:transform 0.5s;
    background-color: rgba(255,255,255,0.05);
    color:white;
    border:1px  solid rgba(255,255,255,0.1);
}
.S-card:hover{
    transform:translateY(-7px);
    border-color:rgb(11, 206, 93);
}
.contact{
    padding:10px;
    border-radius:5px;
    background:rgba(62, 135, 251, 0.992);
    border:none;
    text-decoration:none;
    color:white;
}
.S-card button:hover{
    background:rgb(17, 253, 249);
}
.Socials{
    display:flex;
    padding:10px;
    flex-wrap:wrap;
    margin:20px;
    gap:20px;

}
.Socials a{
    text-decoration:none;    
}

.Copyright{
    text-align:left;
    color:white;
    padding:20px;
}
#Services span{
    color:rgb(229, 239, 239);
}
#Contacts{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:rgba(62, 135, 251, 0.992);
}
#Contacts span{
      color:rgb(229, 239, 239);
}
#side-bar{
    
    display:flex;
    transform:translateX(-120px);
    transition:transform 0.4s ease;
    align-items:center;
    justify-content:center;
    height:350px;
    border:1px solid rgb(141, 141, 152);
    width:115px;
    padding:10px;
    position:fixed;
    z-index:2000;
    top:calc( 50%-485px);
    border-radius:7px;
    backdrop-filter: blur(20px);
    
}


#side-bar nav{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.Toggle{

    display:none;
}
#side-bar nav a{
    color:white;
    text-decoration: none;
}
@media(max-width:768px){

    body{
        font-size:small;
    }
    #navbar{
        width:100%;
        flex-direction:column;
        text-align:center;

    }

    .Toggle{
        display:flex;
    align-self:flex-start;
    }
    .links{
        display:none;
    }

    #Hero-section{
        padding:50px 20px;
        text-align:left;
    }
    .content{
        font-size:small;
    }


    .About-content{
        padding:0px 20px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        
    }
    .text{
        display:flex;

        justify-content:center;
        align-items:center;
        
    }
    .Hero-wrapper{
        display:flex;
        flex-direction:column;  
        justify-content:center;
        align-items: center; 
        border-color:rgba(3, 48, 210, 0.706);
    }
    #Tools-wrapper{
        display:flex;
        width:250px;
    
    }
    .Tools{
        display:flex;
        flex-direction:column;
    }
    .Projects-container{
        display:flex;
        align-items:center;
        flex-direction: column;
    }
    .A-Projects{
        display:flex;
        flex-direction:column;
        width:100%;
          justify-content:center;
        align-items:center;
    }
    .text p{
        width:100%;
    }

    .Stats{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        border:none;
        border:1px solid rgba(255,255,255,0.1);
        width:300px;
        height:400px;
    }

    .stat{
        padding:0;
        border-right:none;
        padding-right:0;
        background:none;
    }

    
    .Projects{
        padding:30px 20px;
    }

    .Services{
        padding:30px 20px;
    }

    .card a{
        width:100%;
        text-align:center;
    }

}
.Body{
    display:none;
}
.Maintenance{
    display:block;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;

}