
*{
    margin:0;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    font-family:monospace;
    font-size:1.5em;
}
.navbar{
    position:absolute;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color:antiquewhite;
}
.link a{
    color:aqua;
    text-decoration:none;
}
.container{
    border:2px solid grey;
    padding:20px;
    display:flex;
    flex-direction:column;
    width:350px;

}
.results{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
}
.results label{
    font-weight:bold;
}
#input{
    padding:10px;
}
#error{
    background-color:red;
    color:white;
    width:fit-content;
}
@media(max-width:768px){
    body{
        font-size:medium;

    }
    .navbar{
        box-sizing:border-box;
        padding:10px;
    }
    .container{
        width:290px;
    }
}